.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#footer {
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  background-color: #f2f2f2;
  color: #70757a;
  bottom: 0;
  left: 0;
  right: 0;
}

.navlinkdown {
  padding: 10px;
}

.navlinkdown:link, .navlinkdown:visited {
  color: #70757a;
  text-decoration: none;
}

.navlinkdown:hover, .navlinkdown:active{
  color: #70757a;
  text-decoration: underline;
}

.footer-left {
  float: left;
  padding-left: 30px;
}

.footer-right {
  float: right;
  padding-right: 30px;
}

#header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  position: absolute;
  color: #4d5156;
  top: 0;
  right: 0;
}

.navlinktop {
  padding: 10px;
}

.navlinktop:link, .navlinktop:visited {
  color: #70757a;
  text-decoration: none;
}

.navlinktop:hover, .navlinktop:active{
  color: #70757a;
  text-decoration: underline;
}

#logo {
  padding-top: 60px;
}